In [ ]:
!pip install pandas

In [1]:
import pandas as pd

In [ ]:
#read csv file
dataA = pd.read_csv(r"C:\PARTHI\PROJECT - 2\Customers.csv", encoding="latin1")

In [ ]:
dataA

In [ ]:
dataA.isnull().sum()

In [ ]:
# Check for missing values
missing_values = dataA.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

In [ ]:
# Drop the 'StateCode' column permanently
dataA = dataA.drop(columns=['State Code'])

In [ ]:
#dulicates
print(dataA.duplicated().sum())

In [12]:
#changes the name column to lower cases
dataA['Name'] = dataA['Name'].str.lower()

In [13]:
dataA['City'] = dataA['City'].str.lower()

In [14]:
dataA['State'] = dataA['State'].str.lower()
dataA['Country '] = dataA['Country'].str.lower()
dataA['Continent'] = dataA['Continent'].str.lower()
dataA['Gender'] = dataA['Gender'].str.lower()

In [15]:
#formats dates correctly
dataA['Birthday'] = pd.to_datetime(dataA['Birthday'], errors='coerce')

In [16]:
#ensures consistent categorical values
dataA['State'] = dataA['State'].str.strip().str.title()
dataA['Name'] = dataA['Name'].str.strip().str.title()
dataA['Country'] = dataA['Country'].str.strip().str.title()
dataA['Continent'] = dataA['Continent'].str.strip().str.title()
dataA['Gender'] = dataA['Gender'].str.strip().str.title()
dataA['City'] = dataA['City'].str.strip().str.title()
dataA['Country'] = dataA['Country'].str.strip().str.title()

In [40]:
# Find duplicate columns manually
duplicate_cols = []
for col in dataA.columns:
    for other_col in dataA.columns:
        if col != other_col and dataA[col].equals(dataA[other_col]):
            duplicate_cols.append((col, other_col))

print(duplicate_cols)

[]

In [ ]:
# Transpose, find duplicates, and drop them
dataA = dataA.loc[:, ~dataA.T.duplicated()]

In [25]:
dataA.to_csv(r"C:\PARTHI\PROJECT - 2\Customers.csv", index=False)

In [24]:
dataA

,CustomerKey,Gender,Name,City,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,Wandearah East,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,Mount Budd,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,Winjallok,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,Middle River,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,Tawonga South,Victoria,3698,Australia,Australia,1965-11-19
...,...,...,...,...,...,...,...,...,...
15261,2099600,Female,Denisa DuâKovã¡,Houston,Texas,77017,United States,North America,1936-03-25
15262,2099618,Male,Justin Solã³Rzano,Mclean,Virginia,22101,United States,North America,1992-02-16
15263,2099758,Male,Svend Petrussen,Wilmington,North Carolina,28405,United States,North America,1937-11-09
15264,2099862,Female,Lorenza Rush,Riverside,California,92501,United States,North America,1937-10-12
15265,2099937,Male,Zygmunt Kaminski,Bloomfield Township,Michigan,48302,United States,North America,1965-08-18

In [ ]:
!pip install pandas

In [3]:
import pandas as pd

In [4]:
#read csv file
dataB = pd.read_csv(r"C:\PARTHI\PROJECT - 2\Data_Dictionary.csv", encoding="latin1")

In [ ]:
dataB

In [ ]:
print(dataB.isnull().sum())

In [7]:
dataB["Table"]=dataB["Table"].str.lower()
dataB["Field"]=dataB["Field"].str.lower()
dataB["Description"]=dataB["Description"].str.lower()

In [9]:
dataB["Table"]=dataB["Table"].str.strip()
dataB["Table"]=dataB["Table"].str.replace(r"[^a-zA-Z0-9_ ]","",regex=True)
dataB["Field"]=dataB["Field"].str.strip()
dataB["Field"]=dataB["Field"].str.replace(r"[^a-zA-Z0-9_ ]","",regex=True)
dataB["Description"]=dataB["Description"].str.strip()
dataB["Description"]=dataB["Description"].str.replace(r"[^a-zA-Z0-9_ ]","",regex=True)

In [ ]:
dataB

In [ ]:
#dulicates
print(dataB.duplicated().sum())

In [ ]:
print(dataB["Field"].unique())

In [ ]:
print(dataB["Description"].unique())

In [ ]:
print(dataB["Table"].unique())

In [17]:
dataB["Field"]=dataB["Field"].str.title()
dataB["Table"]=dataB["Table"].str.title()
dataB["Description"]=dataB["Description"].str.title()

In [22]:
import pandas as pd  

dataB = pd.read_csv(r"C:\PARTHI\PROJECT - 2\Data_Dictionary.csv", encoding="latin1")

In [23]:
dataB.to_csv(r"C:\PARTHI\PROJECT - 2\Data_Dictionary_Cleaned.csv", index=False, encoding="latin1")

In [24]:
#dataA for small corecction
import pandas as pd

# Load the original CSV file
dataA = pd.read_csv(r"C:\PARTHI\PROJECT - 2\Customers.csv")

In [ ]:
# Save the modified data as a new file (keeping the original intact)
dataA.to_csv(r"C:\PARTHI\PROJECT - 2\Customers_Modified.csv", index=False)
print("Modified CSV saved as 'Customers_Modified.csv'. Original file remains unchanged.")

In [ ]:
dataA

In [27]:
#dataC
import pandas as pd
#read csv file
datac = pd.read_csv(r"C:\PARTHI\PROJECT - 2\Exchange_Rates.csv", encoding="latin1")

In [ ]:
datac

In [ ]:
print(datac.dtypes)

In [32]:
datac['Date'] = pd.to_datetime(datac['Date'])

In [ ]:
print(datac['Currency'].unique())

In [ ]:
print(datac.isnull().sum())

In [ ]:
print(datac.duplicated().sum())

In [39]:
# Remove extra spaces
datac['Currency'] = datac['Currency'].str.strip()

In [41]:
datac.to_csv("Cleaned_Exchange_Rates.csv", index=False)

In [42]:
datac.to_csv(r"C:\PARTHI\PROJECT - 2\Exchange_Rates_Cleaned.csv", index=False, encoding="latin1")

In [73]:
#dataD
import pandas as pd
dataD=pd.read_csv(r"C:\PARTHI\PROJECT - 2\Products.csv",encoding="latin1")

In [ ]:
dataD

In [ ]:
#data type
print(dataD.dtypes)

In [ ]:
dataD.duplicated().sum()

In [77]:
dataD.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [78]:
dataD.columns = dataD.columns.str.strip()
dataD['Product Name'] = dataD['Product Name'].str.strip()

In [79]:
dataD['Product Name'] = dataD['Product Name'].str.lower()

In [80]:
dataD['Product Name'] = dataD['Product Name'].str.title()
dataD['Brand'] = dataD['Brand'].str.title()
dataD['Color'] = dataD['Color'].str.title()
dataD['Category'] = dataD['Category'].str.title()

In [ ]:
print(dataD.dtypes)

In [83]:
for col in dataD.columns:
    print(f"{col}: {dataD[col].nunique()} unique values")

ProductKey: 2517 unique values
Product Name: 2517 unique values
Brand: 11 unique values
Color: 16 unique values
Unit Cost USD: 480 unique values
Unit Price USD: 426 unique values
SubcategoryKey: 32 unique values
Subcategory: 32 unique values
CategoryKey: 8 unique values
Category: 8 unique values

In [ ]:
dataD['Unit Price USD'] = dataD['Unit Price USD'].str.replace('[\$,]', '', regex=True).str.strip().astype(float)

In [ ]:
dataD['Unit Cost USD'] = dataD['Unit Cost USD'].str.replace('[\$,]', '', regex=True).str.strip().astype(float)

In [94]:
dataD.to_csv(r"C:\PARTHI\PROJECT - 2\Products_Cleaned.csv", index=False, encoding="latin1")

In [95]:
#dataE
import pandas as pd
dataE=pd.read_csv(r"C:\PARTHI\PROJECT - 2\Sales.csv",encoding="latin1")

In [ ]:
dataE.dtypes

In [98]:
dataE['Order Date'] = pd.to_datetime(dataE['Order Date'])

In [100]:
dataE['Delivery Date'] = pd.to_datetime(dataE['Delivery Date'])

In [102]:
for col in dataE.columns:
    print(f"{col}: {dataE[col].nunique()} unique values")

Order Number: 26326 unique values
Line Item: 7 unique values
Order Date: 1641 unique values
Delivery Date: 1492 unique values
CustomerKey: 11887 unique values
StoreKey: 58 unique values
ProductKey: 2492 unique values
Quantity: 10 unique values
Currency Code: 5 unique values

In [ ]:
dataE['CustomerKey'].unique().sum()

In [105]:
print(dataE.isnull().sum())

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [ ]:
print(dataE['Delivery Date'])

In [117]:
dataE['Currency Code'].unique()

array(['CAD', 'USD', 'GBP', 'EUR', 'AUD'], dtype=object)

In [118]:
# Apply the condition and fill NaN values in Delivery Date
dataE.loc[
    (dataE['Delivery Date'].isna()) & (dataE['Currency Code'].isin(['USD', 'AUD'])), 
    'Delivery Date'
] = dataE['Order Date'] + pd.Timedelta(days=10)

# Display updated DataFrame
print(dataE[['Order Date', 'Delivery Date', 'Currency Code']])

      Order Date Delivery Date Currency Code
0     2016-01-01           NaT           CAD
1     2016-01-01    2016-01-13           USD
2     2016-01-01    2016-01-13           USD
3     2016-01-01    2016-01-12           CAD
4     2016-01-01    2016-01-12           CAD
...          ...           ...           ...
62879 2021-02-20    2021-03-02           USD
62880 2021-02-20    2021-02-24           EUR
62881 2021-02-20    2021-02-23           CAD
62882 2021-02-20    2021-02-23           CAD
62883 2021-02-20    2021-02-23           CAD

[62884 rows x 3 columns]

In [123]:
print(dataE.isnull().sum())

Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [120]:
dataE.loc[
    (dataE['Delivery Date'].isna()) & (dataE['Currency Code'].isin(['EUR', 'GBP'])), 
    'Delivery Date'
] = dataE['Order Date'] + pd.Timedelta(days=7)

In [122]:
dataE.loc[
    (dataE['Delivery Date'].isna()) & (dataE['Currency Code'].isin(['CAD'])), 
    'Delivery Date'
] = dataE['Order Date'] + pd.Timedelta(days=8)

In [125]:
dataD.to_csv(r"C:\PARTHI\PROJECT - 2\Sales_Cleaned.csv", index=False, encoding="latin1")

In [ ]:
#dataF
dataF=pd.read_csv(r"C:\PARTHI\PROJECT - 2\Stores.csv", encoding="latin1")

In [ ]:
dataF.dtypes

In [130]:
dataF['Open Date'] = pd.to_datetime(dataF['Open Date'])

In [134]:
print(dataF['StoreKey'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66  0]

In [137]:
print(dataF.isnull().sum())

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [136]:
dataF.dropna(subset=['Square Meters'],inplace=True)

In [ ]:
dataF.duplicated().sum()

In [146]:
dataF.columns = dataF.columns.str.strip()
dataF['Country'] = dataF['Country'].str.strip()
dataF.columns = dataF.columns.str.strip()
dataF['State'] = dataF['State'].str.strip()

In [148]:
dataF['Country'] = dataF['Country'].str.lower()
dataF['State'] = dataF['State'].str.lower()

In [150]:
dataF['Country'] = dataF['Country'].str.title()
dataF['State'] = dataF['State'].str.title()

In [152]:
dataF.to_csv(r"C:\PARTHI\PROJECT - 2\Stores_Cleaned.csv", index=False, encoding="latin1")